.product-page {

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__image img {
    width: 250px;
    border-radius: 3px;
    overflow: hidden;
  }

  &__details {
    padding: 0 2rem;
  }

  &__label {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--gray-500);
    opacity: 0.9;
  }

  &__value {
    font-size: 1.2rem;
    margin-bottom: 1.5em;
    font-weight: 500;

    &:last-child {
      margin-bottom: 0;
    }
  }
}