.list {
  display: flex;
  flex-direction: column;
  position: relative;

  &__header {
    padding: 0rem 1.5rem;
    margin-bottom: 0 !important;
  }

  &__title {
    text-transform: uppercase;
    color: var(--gray-500);
    padding-left: 0;
    font-weight: 600;
    font-size: 0.9rem;
  }
}

.list-item {
  padding: 1.5rem;
  display: block;
  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
  border-radius: 3px;
  margin-bottom: 0.75rem;
  align-items: center;
  font-size: 0.9rem;
  position: relative;
  overflow: hidden;
  color: var(--text-color) !important;

  &--clickable {
    cursor: pointer;
  }

  &--loading {
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        90deg,
        rgba(#edf2f7, 0) 0,
        rgba(#edf2f7, 0.25) 25%,
        rgba(#edf2f7, 0.5) 50%,
        rgba(#edf2f7, 0.75) 75%,
        rgba(#edf2f7, 0)
      );
      animation: shimmer 1s infinite;
      content: "";
    }
  }

  &:hover {
    background-color: var(--gray-200);

    .btn-delete-app {
      visibility: visible;
    }
  }

  .list-item__value {
    font-size: 1.1rem;
    font-weight: 500;
    flex-grow: 1;
    padding: 0;
  }
}