@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/helpers/spacing.sass";
@import "../../../node_modules/bulma/sass/helpers/flexbox.sass";
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/grid/_all.sass";
@import "../../../node_modules/bulma/sass/elements/table.sass";
@import "../../../node_modules/bulma/sass/elements/form.sass";

@import "./animations.scss";
@import "./button.scss";
@import "./form.scss";
@import "./metric-box.scss";
@import "./modal.scss";
@import "./list.scss";

$header_height: 4.5rem;

// Colors from Chakra UI https://chakra-ui.com/docs/theming/theme
:root {
  --gray-100: #f7fafc;
  --gray-200: #edf2f7;
  --gray-300: #cbd5e0;
  --gray-400: #a0aec0;
  --gray-500: #718096;
  --gray-700: #2d3748;
  --red-50: #fff5f5;
  --red-200: #feb2b2;
  --red-300: #f56565;
  --green-50: #f0fff4;
  --green-100: #c6f6d5;
  --green-200: #9ae6b4;
  --green-300: #48bb78;
  --text-color: #363636;
  --blue-100: #BEE3F8;
  --blue-200: #90CDF4;
  --blue-300: #63B3ED;
  --blue-400: #4299e1;
  --blue-500: #3182ce;
  --blue-600: #2b6cb0;
  --blue-700: #2c5282;
  --yellow-500: #d69e2e;
  --border-color: #cbd5e0;
  font-size: 14px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  width: 100%;
}

p {
  margin-bottom: 1rem;
}

#root {
  height: 100%;
  width: 100%;
}

.logo {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: left;

  a {
    color: var(--text-color);
  }

  &:hover {
    a {
      color: var(--text-color);
      text-decoration: underline;
    }
  }
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.content {
  padding: 2rem;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.sidebar {
  padding: 2rem;
  width: 300px;
  background-color: var(--gray-100);
  border-right: 1px solid var(--border-color);
  height: 100%;
}

.sidebar-menu {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.sidebar-menu-item {
  padding-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--blue-700) !important;

  &:hover {
    text-decoration: underline;
  }
}

.link {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-color);
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer;

  &:hover {
    color: var(--text-color);
    text-decoration: underline;
  }
}

.w-100 {
  width: 100%;
}

.page-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login-page {
  height: 100%;
  width: 100%;
  background-color: var(--gray-100);
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
  align-items: center;
}

.login-form {
  font-size: 1.1rem;
  max-width: 500px;
  background-color: #fff;
  height: auto;
}

.siwe-button {
  width: 250px;  
  border: none;
  cursor: pointer;
  opacity: 0.9;
  margin: 0;
  padding: 0;
  background-color: inherit;
  margin-top: 1rem;

  &:hover {
    opacity: 1;
  }
}

.new-product-form {
  max-width: 700px;
  background-color: var(--gray-100);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 2rem;
}

.icon-button {
  cursor: pointer;
  background: none;
  padding: 0;
  margin: 0;
  border: 0;
}

.message {
  padding: 1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width:641px) {
  // Disable create dashboard and widgets on small screens
  .menu {
    display: none;
  }
}
