
.metric-box {
  background-color: var(--gray-200);
  height: 6.5rem;
  border-radius: 3px;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;
  margin: 0 0.75rem 1rem 0.75rem;
  max-width: 200px;
  position: relative;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &--loading {
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        90deg,
        rgba(#fff, 0) 0,
        rgba(#fff, 0.25) 25%,
        rgba(#fff, 0.5) 50%,
        rgba(#fff, 0.75) 75%,
        rgba(#fff, 0)
      );
      animation: shimmer 1s infinite;
      content: "";
    }
  }

  &.is-link {
    cursor: pointer;
  }

  &__label {
    font-size: 12px;
    font-weight: bold;
    opacity: 0.7;
  }

  &__value {
    font-size: 2.5rem;
    font-weight: 500;
    opacity: 0.9;
    align-self: flex-end;
    line-height: 2.5rem;
  }

  &__unit {
    margin-left: 0.25rem;
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 0.9rem;
  }
}
