.section {
  padding: 1.5rem;
  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
  border-radius: 3px;
  position: relative;
  color: var(--text-color) !important;

  &--error {
    background-color: var(--red-300);
    border-color: var(--red-300);
  }

  &__title {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  &__description {
    margin-top: -1.5rem;
    margin-bottom: 2rem;
  }

  &--loading {
    min-height: 10rem;
    overflow: hidden;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        90deg,
        rgba(#edf2f7, 0) 0,
        rgba(#edf2f7, 0.25) 25%,
        rgba(#edf2f7, 0.5) 50%,
        rgba(#edf2f7, 0.75) 75%,
        rgba(#edf2f7, 0)
      );
      animation: shimmer 1s infinite;
      content: "";
    }
  }
}
