.wallet-connected {
  display: block;
  font-size: 0.95rem;
  text-align: right;

  &::before {
    content: '•';
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--green-300);
    line-height: 0rem;
    margin-right: 0.25rem;
  }
}

.wallet-balance {
  font-size: 0.95rem;
  font-weight: 500;
  text-align: right;
}

.product-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -1rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 260px;
  border: 1px solid var(--border-color);
  padding: 1rem;
  margin: 1rem;
  color: var(--text-color);
  position: relative;
  overflow: hidden;

  &.loading {
    height: 300px;
  }

  &:hover {
    border: 1px solid var(--text-color);
    cursor: pointer;
  }

  &__image {
    height: 225px;
    text-align: center;
    background-color: var(--gray-100);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 2.5rem;

    img {
      width: 250px;
      height: 200px;
      object-fit: cover;
      width: auto;
      border-radius: 3px;
      overflow: hidden;
      margin-right: 1rem;
    }
  }

  &__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__type {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--gray-500);
    opacity: 0.9;
    font-size: 0.9rem;
  }

  &__name {
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__unit {
    font-size: 1.1rem;
    color: var(--gray-500);
    font-weight: 600;
    line-height: 1.25rem;
  }

  &__price {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.product-page {
  &__name {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__description {
    font-size: 1.1rem;
    margin-bottom: 3rem;
  }

  &__quantity {
    display: flex;

    .section__value {
      font-size: 1.5rem;
    }
  }

  &__input {
    margin: 1rem 5rem 2rem 0;
    font-size: 1.15rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--border-color);
    height: 40px;
    width: 150px;
  }

  section {
    border-left: 1px solid var(--border-color);
    padding: 0rem 2rem;
  }
}

.product-image {
  text-align: center;
  background-color: var(--gray-200);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 3px;
  height: 380px;
  margin-right: 1rem;
  position: relative;
  overflow: hidden;
  width: calc(350px + 2rem);

  &.loading {
    background-color: #fff;
  }

  img {
    width: 350px;
    height: 350px;
    object-fit: contain;
    border-radius: 3px;
    overflow: hidden;
  }
}

.submit-button {
  color: white;
  border: 0.5px solid var(--text-color);
  background-color: var(--text-color);
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 3px;
  width: 15rem;
  height: 4.5rem;

  &:hover {
    background-color: var(--text-color);
    color: #fff;
  }

  &[disabled="disabled"],
  &[disabled="disabled"]:hover {
    cursor: not-allowed;
    background-color: #fff;
    color: var(--text-color);
  }

  &--loading {
    opacity: 0.7;

    span {
      @extend .spinner;
      width: 25px;
      height: 25px;
      --border-color: white;
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  min-width: 500px;

  &__label {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--gray-500);
    opacity: 0.9;
  }

  &__value {
    font-size: 1.15rem;
    margin-bottom: 1.5em;
    font-weight: 500;
  }

  &__unit {
    font-size: 1.25rem;
    color: var(--gray-500);
    font-weight: 600;
    line-height: 1.25rem;
  }

  &__quantity {
    display: flex;

    .product-page__value {
      font-size: 1.5rem;
    }
  }

  &__input {
    margin: 1rem 5rem 2rem 0;
    font-size: 1.15rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--border-color);
    height: 40px;
    width: 150px;
  }
}

.btn-connect {
  background-color: var(--blue-700);
  border: 0;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: var(--gray-700);
  }
}