@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/helpers/spacing.sass";
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/grid/_all.sass";

@import "./custom.scss";

$header_height: 4.5rem;

// Colors from Chakra UI https://chakra-ui.com/docs/theming/theme
:root {
  --gray-100: #f7fafc;
  --gray-200: #edf2f7;
  --gray-300: #cbd5e0;
  --gray-400: #a0aec0;
  --gray-500: #718096;
  --gray-700: #2d3748;
  --red-50: #fff5f5;
  --red-200: #feb2b2;
  --red-300: #f56565;
  --green-50: #f0fff4;
  --green-100: #c6f6d5;
  --green-200: #9ae6b4;
  --green-300: #48bb78;
  --text-color: #2d3748;
  --blue-100: #BEE3F8;
  --blue-200: #90CDF4;
  --blue-300: #63B3ED;
  --blue-400: #4299e1;
  --blue-500: #3182ce;
  --blue-600: #2b6cb0;
  --blue-700: #2c5282;
  --yellow-500: #d69e2e;
  --border-color: #cbd5e0;
  font-size: 14px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  width: 100%;
}

p {
  margin-bottom: 1rem;
}

#root {
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  padding: 1rem 2rem;
  background-color: var(--gray-100);
  border-bottom: 1px solid var(--gray-300);
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 5px;

  a {
    color: var(--text-color);
  }

  &:hover {
    text-decoration: underline;
  }
}

.content {
  padding: 2rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.page-title {
  @extend .title;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 2.75rem;
}

.page-description {
  margin-top: -1.75rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.icon-button {
  cursor: pointer;
  background: none;
  padding: 0;
  margin: 0;
  border: 0;
}

.message {
  padding: 1rem;
  background-color: var(--gray-100);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: 500;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}
